vendor
.vs
composer.json
composer.lock
PFE_extract_notebook/.ipynb_checkpoints
PFE_extract_notebook/column.xlsx
PFE_extract_notebook/en.openfoodfacts.org.products.csv
PFE_extract_notebook/PRODUCTS_DB.csv
PFE_extract_notebook/PRODUCTS_DB.json